@* @{
    Layout = "_Layout";
} *@

<h1>Add new order to @Model.Name</h1>

<form action="/vendors/@Model.ID/orders" method="post">
    <input id="vendorId" name="vendorId" type="hidden" value="@Model.ID">
    <label for="orderDetails">Order Details</label>
    <input id="orderDetails" name="orderDetails" type="text">
    <button type="submit">Add Order</button>
</form>